<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Lost password - World of Farmcraft</title>
		<link rel="stylesheet" href="/view/css/general.css" />
		<link rel="stylesheet" href="/view/css/password.css" />
		<link rel="shortcut icon" href="/view/img/favicon.ico" />
		<script src="/view/js/jquery-1.8.3.min.js"></script>
		<script src="/view/js/password.js"></script>
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="global">
			<div class="wrapper">
				<header>
					<h1><img src="/view/img/logo.png" alt="World of Farmcraft" /></h1>
				</header>
				<section id="warning">
					<h2>Warning</h2>
					<p>You have to turn on javascript and allow it in order to run this website..</p>
				</section>
				<section id="main">
					<h2>Password lost</h2>
					<p id="error"></p>
					<form action="" method="post">
						<label for="email">E-Mail:</label>
						<input type="email" id="email" name="email" placeholder="Enter your E-Mail" autofocus /><br />
						<input id="resetPassword" type="submit" value="Reset" /><br />
						<a id="cancel" href="/">Cancel</a>
					</form>
				</section>
				<footer>
					<p>Supinfo dev project 2012-2013</p>
				</footer>
			</div>
		</div>
	</body>
</html>